In [2]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import datetime
import sys
import pandas_datareader as pdr
sys.path.append('/localscratch/data/project_one/update/')

from singleStockScan import ModelPrediction
from updater import StockUpdater
%load_ext autoreload
%autoreload 2
import sqlite3 as sql

In [130]:
db = sql.connect('/localscratch/data/project_one/data/predictions/stocks/predictions_test.db')

db.cursor().execute(''' CREATE TABLE stockinfo(id INTEGER PRIMARY KEY, Name TEXT, Label TEXT, ISIN TEXT, WKN TEXT, Index1 TEXT, Index2 TEXT, Index3 TEXT,Index4 TEXT)''')
db.commit()

db.close()

In [131]:
l = pd.read_csv('/localscratch/data/project_one/data/company_lists/full_list_w_indices.csv',index_col=0)
print l.head(5)

         Name                                              URL          ISIN  \
0      adidas      http://www.finanzen.net/aktien/adidas-Aktie  DE000A1EWWW0
1     Allianz     http://www.finanzen.net/aktien/Allianz-Aktie  DE0008404005
2        BASF        http://www.finanzen.net/aktien/BASF-Aktie  DE000BASF111
3       Bayer       http://www.finanzen.net/aktien/Bayer-Aktie  DE000BAY0017
4  Beiersdorf  http://www.finanzen.net/aktien/Beiersdorf-Aktie  DE0005200000

      WKN SymbolFinanzen.net      Country Yahoo Ticker  Yahoo online  \
0  A1EWWW                ADS  Deutschland       ADS.DE          True
1  840400                ALV  Deutschland       ALV.DE          True
2  BASF11                BAS  Deutschland       BAS.DE          True
3  BAY001               BAYN  Deutschland      BAYN.DE          True
4  520000                BEI  Deutschland       BEI.DE          True

                                       ListedIndizes
0  [u'DAX 30', u' EURO STOXX 50', u' Prime All Sh...
1  [u'DAX 30', u' Stoxx Europe 50', u' EURO STOXX...
2  [u'DAX 30', u' Stoxx Europe 50', u' EURO STOXX...
3  [u'DAX 30', u' Stoxx Europe 50', u' EURO STOXX...
4  [u'DAX 30', u' Prime All Share', u' Late DAX',...

In [132]:
def get_tuple(data):
    new = [single for single in data['ListedIndizes'].split('\'') if single[0] not in ["[","u",",","]"]]
    stock_indices = [new[0]] + [_str[1:] for _str in new[1:]]
   
    return tuple([unicode(data.values[0].decode('UTF-8')),data.values[6],data.values[2],data.values[3]]) +tuple(stock_indices[0:4])
    #[stock_indices[i] for i in range(4)]

In [133]:
db = sql.connect('/localscratch/data/project_one/data/predictions/stocks/predictions_test.db')
for i in range(len(l)):
    datatuple= get_tuple(l.loc[i])
    if len(datatuple) <8 :
        datatuple = datatuple + tuple([None for i in range(8-len(datatuple))])
        
    db.cursor().execute('''INSERT INTO stockinfo(Name,Label,ISIN,WKN,Index1,Index2,Index3,Index4) VALUES(?,?,?,?,?,?,?,?)''', datatuple)
    
db.commit()
db.close()
#[get_tuple(l.loc[i] for i in range(len(l)))]

In [139]:
db = sql.connect('/localscratch/data/project_one/data/predictions/stocks/predictions.db')

x= db.execute('Select * FROM prediction10BT')
print x.fetchall()[50]

db.close()

(51, u'DAI.DE', u'2017-03-06', u'2017-03-17', u'2017-03-31', 71.16, 69.2, -2.754356379988749, 1, 2, 71.16, 69.38, 16.0, 6.0, 34.0, 27.0, 8.5, 8.5, u'2018-02-26 11:33')

In [91]:

#2017-05-18 effective LastTrainingsDate

Finished stock simulation for stock: DAI.DE from 2017-06-01 00:00:00 until 2018-02-09 with modeltype: RFC

Here
List of Predictions added to data base complete

      Labels LastTrainingsDate PredictionDay ValidationDay  PrizeAtPrediction  \
312   SAP.DE        2018-02-09    2018-02-23    2018-03-09              84.52
313   SIE.DE        2018-02-09    2018-02-23    2018-03-09             110.72
314   TKA.DE        2018-02-09    2018-02-23    2018-03-09              22.68
315  VOW3.DE        2018-02-09    2018-02-23    2018-03-09             162.60
316   VNA.DE        2018-02-09    2018-02-23    2018-03-09              38.10

     PrizeAtValidation  RelativePrizeChange  TrueCategory  PredictedCategory  \
312                NaN                  NaN           NaN                  4
313                NaN                  NaN           NaN                  3
314                NaN                  NaN           NaN                  2
315                NaN                  NaN           NaN                  0
316                NaN                  NaN           NaN                  2

                  PredictedProbabilities  PredictedUpperPrize  \
312  [3.5, 10.0, 24.0, 22.0, 25.0, 15.5]                88.75
313   [13.5, 8.0, 16.0, 29.5, 29.5, 3.5]               113.49
314  [17.5, 16.5, 26.5, 19.5, 12.0, 8.0]                22.68
315    [54.5, 7.0, 7.7, 12.2, 14.3, 4.3]               154.47
316   [4.9, 16.0, 35.6, 23.2, 13.4, 6.9]                38.10

     PredictedLowerPrize ModelType  \
312                86.63       RFC
313               110.72       RFC
314                22.11       RFC
315                81.30       SVM
316                37.15       SVM

                                    ModelParameters         Timestamp
312    {u'max_features': u'auto', u'max_depth': 50}  2018-02-26 17:13
313   {u'max_features': u'auto', u'max_depth': 100}  2018-02-26 17:13
314   {u'max_features': u'auto', u'max_depth': 100}  2018-02-26 17:13
315  {u'kernel': u'rbf', u'C': 10.0, u'gamma': 0.1}  2018-02-26 17:13
316     {u'kernel': u'rbf', u'C': 5, u'gamma': 0.1}  2018-02-26 17:13

In [9]:
x = np.arange(10)
print x[:-5],x[-5:]

[0 1 2 3 4] [5 6 7 8 9]

  LastTrainingsDate PredictionDay ValidationDay  PrizeAtPrediction  \
0        2018-01-31    2018-02-01    2018-02-15              72.14
1        2018-02-01    2018-02-02    2018-02-16              71.17
2        2018-02-02    2018-02-05    2018-02-19              70.70
3        2018-02-05    2018-02-06    2018-02-20              69.45
4        2018-02-06    2018-02-07    2018-02-21              70.65
5        2018-02-07    2018-02-08    2018-02-22              70.33
6        2018-02-08    2018-02-09    2018-02-23              70.13

   PrizeAtValidation  RelativePrizeChange TrueCategory PredictedCategory  \
0              71.93                -0.29            2                 2
1              72.50                 1.87            3                 2
2              71.01                 0.44            3                 2
3              70.62                 1.68            3                 3
4              70.34                -0.44            2                 3
5              70.04                -0.41            2                 2
6              70.41                 0.40            3                 2

                 PredictedProbabilities  PredictedUpperPrize  \
0  [0.14, 0.28, 0.32, 0.11, 0.12, 0.03]                72.14
1      [0.1, 0.11, 0.49, 0.1, 0.1, 0.1]                71.17
2   [0.06, 0.06, 0.43, 0.3, 0.06, 0.09]                70.70
3  [0.04, 0.04, 0.29, 0.37, 0.21, 0.05]                71.19
4  [0.17, 0.03, 0.14, 0.38, 0.24, 0.04]                72.42
5   [0.06, 0.02, 0.44, 0.3, 0.17, 0.01]                70.33
6  [0.07, 0.04, 0.55, 0.17, 0.16, 0.01]                70.13

   PredictedLowerPrize ModelType  \
0                70.34       RFC
1                69.39       RFC
2                68.93       RFC
3                69.45       RFC
4                70.65       RFC
5                68.57       RFC
6                68.38       RFC

                                 ModelParameters                  Timestamp
0  {u'max_features': u'auto', u'max_depth': 200} 2018-02-24 20:11:03.989258
1  {u'max_features': u'auto', u'max_depth': 200} 2018-02-24 20:11:05.393881
2  {u'max_features': u'auto', u'max_depth': 200} 2018-02-24 20:11:06.675636
3  {u'max_features': u'auto', u'max_depth': 200} 2018-02-24 20:11:08.129550
4  {u'max_features': u'auto', u'max_depth': 200} 2018-02-24 20:11:09.432086
5  {u'max_features': u'auto', u'max_depth': 200} 2018-02-24 20:11:10.730314
6  {u'max_features': u'auto', u'max_depth': 200} 2018-02-24 20:11:11.996236

Index([u'Labels', u'LastTrainingsDate', u'PredictionDay', u'ValidationDay',
       u'PrizeAtPrediction', u'PrizeAtValidation', u'RelativePrizeChange',
       u'TrueCategory', u'PredictedCategory', u'PredictedProbabilities',
       u'PredictedUpperPrize', u'PredictedLowerPrize', u'ModelType',
       u'ModelParameters'],
      dtype='object')

   Labels LastTrainingsDate PredictionDay ValidationDay  PrizeAtPrediction  \
0  ADS.DE        2018-02-09    2018-02-23    2018-03-09              181.8
1  ALV.DE        2018-02-09    2018-02-23    2018-03-09              191.5

   PrizeAtValidation  RelativePrizeChange  TrueCategory  PredictedCategory  \
0                NaN                  NaN           NaN                  2
1                NaN                  NaN           NaN                  4

                     PredictedProbabilities  PredictedUpperPrize  \
0  [0.15, 0.165, 0.285, 0.165, 0.065, 0.17]               181.80
1   [0.175, 0.105, 0.1, 0.115, 0.37, 0.135]               201.08

   PredictedLowerPrize ModelType  \
0               177.26       RFC
1               196.29       RFC

                                 ModelParameters
0  {u'max_features': u'auto', u'max_depth': 300}
1  {u'max_features': u'auto', u'max_depth': 100}

           Date        Open        High         Low       Close   Adj Close  \
4569 2018-02-12  179.899994  181.300003  177.899994  178.149994  178.149994
4570 2018-02-13  177.100006  177.550003  175.300003  175.800003  175.800003
4571 2018-02-14  177.550003  177.899994  173.149994  177.000000  177.000000
4572 2018-02-15  178.100006  179.199997  176.250000  177.300003  177.300003
4573 2018-02-16  177.899994  181.050003  177.500000  180.250000  180.250000

        Volume
4569  953287.0
4570  750007.0
4571  883584.0
4572  619375.0
4573  991451.0
2018-02-16 00:00:00

[4]
4